<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 pl-3 pl-md-0 pt-md-5 m-t-fix-10">
            <h3 class="title"><span>Tu Cuenta Corriente</span><span class="strong">100% on line</span></h3>
            
            <div class="announcements d-none d-lg-flex">
                <div class="announcements-items">
                    <div class="announcements-items_image">
                        <img src="./../../../assets/images/ico-cmr.png" />
                    </div>
                    <div class="announcements-items_description">
                        <h6><span>Acumula</span><span class="strong">CMR Puntos</span></h6>
                    </div>
                </div>
                <div class="announcements-items">
                    <div class="announcements-items_image">
                        <img src="./../../../assets/images/opu.png" />
                    </div>
                    <div class="announcements-items_description">
                        <h6><span class="strong">Descuentos exclusivos</span></h6>
                    </div>
                </div>
                <div class="announcements-items">
                    <div class="announcements-items_image">
                        <img src="./../../../assets/images/visa-blue-png-2.png" />
                    </div>
                    <div class="announcements-items_description">
                        <h6><span class="strong">Compra en todo el mundo</span></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-type-one">
                <h3 class="form-type-one_title"><span class="color-primary">Ingresa</span> tus datos.</h3>
                <p class="form-type-one_description">Solo necesitas tener tu cédula para realizar la solicitud.</p>

                <form [formGroup]="requestForm" autocomplete="nope" novalidate>
                    <div class="form-group">
                        <label>Rut</label>
                        <input type="text" class="form-control"
                            formControlName="rut"
                            [ngClass]="{ 'is-invalid': requestForm.get('rut').status === 'INVALID' && requestForm.get('rut').dirty }" 
                            placeholder="Ej: 11.111.111-1"
                        />
                        <div *ngIf="requestForm.get('rut').status === 'INVALID' && requestForm.get('rut').dirty" class="invalid-feedback">
                            <div *ngIf="requestForm.get('rut').errors.required">Campo RUT no puede quedar vacío</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Celular</label>
                        <input type="text" class="form-control"
                            formControlName="phone"
                            [ngClass]="{ 'is-invalid': requestForm.get('phone').status === 'INVALID' && requestForm.get('phone').dirty }" 
                            placeholder="Ej: 987654321"
                        />
                        <div *ngIf="requestForm.get('phone').status === 'INVALID' && requestForm.get('phone').dirty" class="invalid-feedback">
                            <div *ngIf="requestForm.get('phone').errors.required">Campo Celular no puede quedar vacío</div>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label>Correo electrónico</label>
                        <input type="text" class="form-control"
                            formControlName="email"
                            [ngClass]="{ 'is-invalid': requestForm.get('email').status === 'INVALID' && requestForm.get('email').dirty }" 
                            placeholder="Ej: correo@correo.cl"
                        />
                        <div *ngIf="requestForm.get('email').status === 'INVALID' && requestForm.get('email').dirty" class="invalid-feedback">
                            <div *ngIf="requestForm.get('email').errors.required">Campo Correo electrónico no puede quedar vacío</div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-success btn-lg btn-block btn-brand-one" [disabled]="!requestForm.valid" (click)="continue()">CONTINUAR</button>
                </form>

            </div>
        </div>
    </div>
</div>