/* Primary colors */
$color-brand-primary: #008536;
$color-text-primary: #495057;
$color-text-primary_hover: #F8F9FA;
$color-background-primary: #3F3F3F;
$color-brand-danger: #DC3545;
$color-brand-primary-disabled: #406b33;

/* Secondary colors */
$color-brand-secondary: #C2D500;
$color-text-secondary: #757575;