<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 pl-3 pl-md-0 pt-md-5 m-t-fix-10"></div>
        <div class="col-12 col-md-6">
            <div class="form-type-one">
                <h3 class="form-type-one_title"><span class="color-primary">Ayúdanos</span> con unos datos más.</h3>
                <p class="form-type-one_description mb-4">Porque te queremos dar una oferta hecha a la medida para ti, necesitamos saber un poco más.</p>

                <form [formGroup]="rentForm" autocomplete="nope" novalidate>
                    <div class="form-group mb-4">
                        <label>¿Cuál es tu renta líquida/ingreso mensual?</label>
                        <input type="text" class="form-control"
                            formControlName="amount"
                            [ngClass]="{ 'is-invalid': rentForm.get('amount').status === 'INVALID' && rentForm.get('amount').dirty }" 
                            placeholder="Ej: $400.000"
                        />
                        <div *ngIf="rentForm.get('amount').status === 'INVALID' && rentForm.get('amount').dirty" class="invalid-feedback">
                            <div *ngIf="rentForm.get('amount').errors.required">Campo de Renta no puede quedar vacío</div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-success btn-lg btn-block btn-brand-one" [disabled]="!rentForm.valid || loading" (click)="continue()">CONTINUAR</button>

                    <span class="message mt-4" [ngClass]="{ 'message-success': successRequest , 'message-error': failedRequest !== '' }" *ngIf="submittedRequest">
                        <ng-container *ngIf="successRequest">Solicitud creada con éxito, nos pondremos en contacto con usted. <a routerLink="/landing">Volver al inicio</a></ng-container>
                        <ng-container *ngIf="failedRequest !== ''">{{ failedRequest }}</ng-container>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>