
<header (click)="clickedInside($event)">

    <div class="container h-100 position-relative">
        <span class="toggler-menu" [class.show]="openedMenu" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </span>
        
        <div class="brand-logo">
            <img src="./../../../assets/images/logo-banco-falabella-x2.png" />
        </div>
    </div>

    <nav class="nav-menu" [class.show]="openedMenu">
        <ul #menu>
            <li routerLink="/landing" routerLinkActive="active"><a>Inicio</a></li>
            <li><a>Enlace 2</a></li>
            <li><a>Enlace 3</a></li>
            <li><a>Enlace 4</a></li>
        </ul>
    </nav>

    <div class="overlay" [class.show]="openedMenu"></div>

</header>