html {
    height: 100%;
    width: 100%;
    display: block;

    body {
        height: 100%;
        width: 100%;
        display: block;

        app-root {
            height: 100%;
            width: 100%;
            display: block;
        }
    }
}
